
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* common styles */

.dark{
    background-color: #0d1117;
    color: white;
}

hr{
    margin: 0;
    height: 1px;
    border-width: 0;
    color:gray;
    background-color:white;
}

body{
    font-family: "__incognito_1a39c7","__incognito_Fallback_1a39c7";
    font-family: "electrolize";
}

img[src="./website_logo.png"]{
    border-radius: 35%;
}


/* nav section */

/* intro section */

h1{
    font-size: 5rem;
    padding: 2%;
}

p{
    font-size: 1.4rem;
    line-height: 2.5;
    /* padding: 1%; */
}


#main-intro{
    display: flex;
    justify-content: center;
}

.main-card{
    margin-top: 5%;
    padding: 1%;
    width: 90%;
    border-radius: 20px;
    border: solid 1px gray;
    border-bottom: none;

    

}


.profile-title{
    font-family: "orbitron";
    font-size: 4rem;
    /* margin-bottom: 2%; */
}

.profile-pic{
    float: left;
    margin: 5%;
    border-radius: 50%;
    width: 20vw;
}


/* about */


/* footer */

#about{
    width: 100%;
    margin: 0 auto;
}

#footer{
    padding: 5%;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dev1{
    display: block;
    width: 80%;
    margin: 10% auto;
}

.dev2{
    width: 80%;
    margin: 10% auto;
}

.comp-prog{
    width: 80%;
    margin: 5% auto;
}

.dev-img, .dev-img2, .comp-prog-img{
    height: 17%;
    width: 17%;
    border-radius: 20px; 
    margin-right: 5%;
    float: left;
}

.dev-img2{
    margin-right: 0;
    margin-left: 5%;
    float: right;
}


.contact-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.foot-div{
    height: 50%;
    width: 50%;
}




.nav-it{
    display: flex;
    justify-content: space-around;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}




/* animations */

.main-card > *{
    animation: 1s fadeInUp;
}
.main-card > img{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* responsive  */

@media(max-width: 390px){
    .profile-pic{
        width: 60vw;
        /* margin: auto; */
    }
    h1{
        font-size: 3rem;
    }
    .profile-titles{
        font-size: 2.5rem;
        /* margin: 10% auto; */
    }
    p{
        font-size: 1.2rem;
        line-height: 2;
    }
}

@media(max-width: 1250px){

}